img {
    width: 250px;
    height: 250px;
    padding: 10px;
    

}
.prices {
    border: solid black;
    display: inline-block;
  
}
.title {
    margin-left: 20px;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
}
.PRP {
    color: gray;
    margin-left: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
span {
    font-size: larger;
    text-decoration: underline;
    font-weight: bold;
    font-family: sans-serif;
}
.sav {
    color: green;
    margin-left: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.pay {
    margin-left: 20px;
    font-weight: bold;
    font-family: sans-serif;
}