p{
    background-color: rgb(130, 160, 150);
    padding: 20px;
    text-align: center;
}

nav{
    background-color: rgb(130, 160, 150);
    padding: 20px;
    text-align: center;
}

section{
    background-color: rgb(130, 160, 150);
    padding: 20px;
    text-align: center;
}

footer{
    background-color: rgb(130, 160, 150);
    padding: 20px;
    text-align: center;
}